<h1>Todo List</h1>

<% if @todo_items.any? %>
  <ul>
    <% @todo_items.each do |todo_item| %>
      <li>
      <%= link_to todo_item.description, edit_todo_item_path(todo_item) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No todo items found.</p>
<% end %>

<%= link_to 'New Todo Item', new_todo_item_path %>
